{:source-paths ["src/cljs"]

 :dependencies [[lilactown/helix "0.1.10"]
                [com.fbeyer/refx "0.0.49"]
                [applied-science/js-interop "0.4.2"]
                [cljs-bean "1.9.0"]
                [funcool/promesa "11.0.678"]]

 :dev-http {1420 "public"}

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:init-fn ollama-ui.core/main}}}}}
